html{
    background-repeat: no-repeat;
    background-image: url("https://pp.userapi.com/c840128/v840128354/3e393/qoc6jCriXdY.jpg");
    background-position: 50% 50%;
    background-size: cover;
    width: 100%;
    height: 100%;
    color: darkgoldenrod;
    font-size: 80%;
    font-family: 'Oswald', sans-serif;
    display: block;
}
span{
    font-size: larger;
    color: red;
}
div{
    margin: auto;
    background-color:darkolivegreen;
    width: inherit;
    border: solid 5px black;

}